@model Codevist.Garanti.DeveloperPortal.Core.Response.ServicesXmlResponse

@{
    ViewBag.Title = "GarantiPayError";
}

<h2>GarantiPayError</h2>
<form action="" method="post" class="form-horizontal"></form>
<legend><label style="font-weight:bold;width:250px;">İşlem Sonucu Bilgileri</label></legend>
@if (Model != null)
{
    <pre>
        @Html.Raw(Html.Encode(Model.XmlResponse))
    </pre>
}