

@model Codevist.Garanti.DeveloperPortal.Core.Response.ServicesXmlResponse

@{
    ViewBag.Title = "SalesWithAddressInfo";
}

<h2>Adres Bilgileri ile Satınalma işlemi </h2>
<br />
<fieldset>

    <legend><label style="font-weight:bold;width:250px;">İşlem Bilgileri</label></legend>
    <label style="font-weight:bold;">İşlem Tipi &nbsp; :   &nbsp; </label> Sales<br>
    <label style="font-weight:bold;">Terminal ID &nbsp; :&nbsp; </label> 30691297 <br>
    <label style="font-weight:bold;">MerchantID  &nbsp;:   &nbsp;</label> 7000679 <br>
    <label style="font-weight:bold;">ProvUserID &nbsp;:  &nbsp;</label> PROVAUT <br>
    <label style="font-weight:bold;">UserID &nbsp;:  &nbsp;</label> PROVAUT<br>

    <label style="font-weight:bold;">&nbsp; Adres Bilgileri:   &nbsp; </label> <br>
    <label style="font-weight:bold;">Adres Tipi &nbsp; :&nbsp; </label> S <br>
    <label style="font-weight:bold;">İsim  &nbsp;:   &nbsp;</label> Ali <br>
    <label style="font-weight:bold;">Soyisim &nbsp;:  &nbsp;</label> Mehmet <br>
    <label style="font-weight:bold;">Şirket &nbsp;:  &nbsp;</label> ABC<br>

    <label style="font-weight:bold;">Adres  &nbsp;:   &nbsp;</label> Üsküdar/İstanbul <br>
    <label style="font-weight:bold;">Şehir &nbsp;:  &nbsp;</label> İstanbul <br>
    <label style="font-weight:bold;">ülke &nbsp;:  &nbsp;</label> Türkiye<br>
    <label style="font-weight:bold;">Posta kodu  &nbsp;:   &nbsp;</label> 34000 <br>
    <label style="font-weight:bold;">Telefon Numarası &nbsp;:  &nbsp;</label> 02123212121 <br>
</fieldset>

<form action="" method="post" class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend><label style="font-weight:bold;width:250px;">Ödeme Bilgileri</label></legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="">  Kart Numarası:</label>
            <div class="col-md-4">
                <input value="4282209027132016" name="creditCardNo" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="">  Son Kullanma Tarihi Ay/Yıl: </label>
            <div class="col-md-4">
                <input value="0520" name="expireDate" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="">  CVC: </label>
            <div class="col-md-4">
                <input value="165" name="cvv" class="form-control input-md">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="">  OrderID:</label>
            <div class="col-md-4">
                @Html.TextBox("orderID", Guid.NewGuid().ToString().Replace("-", "").Substring(1, 30), new { id = "orderID", @class = "form-control ", required = true })

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="">  Tutar:</label>
            <div class="col-md-4">
                <input value="" name="transactionAmount" class="form-control input-md">
            </div>
        </div>
    </fieldset>
    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for=""></label>
        <div class="col-md-4">
            <button type="submit" id="" name="" class="btn btn-danger"> Ödeme Yap</button>
        </div>
    </div>
</form>

@if (Model != null)
{
    <pre>
        @Html.Raw(Html.Encode(Model.XmlResponse))
    </pre>
}

